.box-container{
  height: 100vh;
  background-color: darkgoldenrod;
  position: relative;
}

.box{
  position: absolute;
  width: 400px;
  padding: 80px;
  border: 2px solid black;
  background-color: burlywood;
  font-size: 40px;
  text-align: center;
  transition: transform 0.4s;
  left: 40%;
  top: 40%;
  /* transform: translate(-50%, -50%); */
}

.box-container:hover .box{
  /* transform: translate(0, 200px); */
  /* transform: scale(2); */
  /* transform: scale(2, 3); */
  transform: skew(20deg);
}