.user-card {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.card-img-wrapper {
  display: flex;
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(201, 200, 200);
}

.user-card-heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.card-text {
  line-height: 1.2;
  margin-bottom: 10px;
}

.contacts-list {
  color: black;
}

.contacts-list-item {
}

.contact-link {
  display: flex;
  align-items: center;
}

.wrapper {
  width: 2rem;
}

.contact-link-text {
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .user-card {
    max-width: 300px;
    flex-direction: column;
  }

  :root {
    font-size: 14px;
  }
}
